::-webkit-scrollbar{
    background-color: var(--icn);
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: var(--blc); 
    border-radius: 10px;
}
/* reset CSS */
@font-face {
    font-family: quicksand;
    src: url(assets/quicksand-v30-latin-regular.woff);
}
.material-symbols-outlined{
    color: var(--icn);
    margin-right: 5px;
}
:root{
    --blc: #1F2130;
    --snw: #EAE0D8;
    --del: #D46375;
    --upd: #F4BF71;
    --icn: #F88A65;
    --gry: #C7C8CD;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: quicksand, sans-serif;
    text-decoration: none;
}

/* LAYOUT */
.ob{
    margin-top: 20px;
    width: 100%;
    background-color: var(--blc);
    height: 200px;
    padding: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.layout{
    display: grid;
    grid-template-areas:  
    "box1 box2 card"
    "jumbo jumbo card";
    grid-template-columns: 380px 380px 300px;
    grid-template-rows: 200px 200px;
    margin: 20px;
    position: relative;
    top: -100px;
}
.box{
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.box p{
    font-size: 14px;    
}
.bigbox{
    display: flex;
    padding: 5px;
    border-radius: 5px;
    justify-content: center;
}
.box h3, .card h3{
    margin: 20px 0 5px 10px;
    font-weight: normal;
}
.littlebox:first-child{
    border-left: none;
}
.littlebox{
    border-left: var(--icn) 2px solid;
    padding: 8px;
    display: flex;
    flex-direction: column;
}
.littlebox-card{
    padding: 10px;
}
.card h5{
    margin: 10px 0 0 0 ;
    font-size: 15px;
} 
.box span{
    margin: 0 auto;
    font-size: 30px;
}
.box.sa{
    grid-area: box1;
}
.box.du{
    grid-area: box2;
}
.card{
    padding: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    grid-area: card;
    background-color: white;
    margin: 15px;
    border-radius: 5px;
    overflow: auto;
}
.jumbo{
    grid-area: jumbo;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    margin: 15px;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
}
.side a{
    float: right;
    margin-top: -30px;
}
/* SIDENAV */
nav{
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    height: 700px;
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: space-between;
}
.con{
    display: flex;
    flex-direction: column;
    margin: 35px;
}
nav a, .jumbo a{
    border-radius: 15px;
    color: var(--blc);
    margin-bottom: 5px;
    padding: 15px 30px;
    display: flex;
}
.h{
    display: flex;
    margin: 30px;
    justify-content: space-around;
    color: var(--blc);
}
.or{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: var(--blc);
}
.rd{
    width: 20px;
    background-color: var(--icn);
    height: 20px;
    border-radius: 100px;
}
.h h1{
    font-size: 40px;
    color: var(--blc);
}
nav a:hover, .jumbo a:hover{
    background-color: var(--icn);
    color: white;
}
#mark, .jumbo a{
    background-color: var(--blc);
    color: white;
    font-weight: bold;
}
/* DATA SISWA */

.wraper-do{
    margin: 0 20px 5px 0px;
    display: flex;
    flex-direction: row;
}
.bar{
    padding: 15px;
    background-color: var(--primary);
    position: fixed;
    width: 800px;
    border-radius: 10px;
}
main{
    margin-top: 20px;
    background-color: var(--blc);
    border-radius: 50px;
    width: 100%;
    height: 645px;
    padding: 30px;
}
.container{
    width: 82%;
}
main h1{
    color: white;
    font-size: 40px;
}
main h4{
    color: white;
}
.btn{
    display: flex;
    color: white;
    background-color: var(--blc);
    padding: 15px 70px;
    justify-content: center;
    border-top-left-radius: 10px;
    border-end-start-radius: 10px;
}
.btn:hover{
    color: white;
    background-color: var(--icn);
}
.btn:hover span.material-symbols-outlined, a:hover .material-symbols-outlined{
    color: var(--blc) ;
}
a#mark:hover .material-symbols-outlined{
    color: var(--icn);
}
.gr{
    background-color: var(--gry);
    display: flex;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
}
.sr{
    padding: 10px;
    margin-left: 5px;
    font-size: 25px;
    width: 680px;
    background-color: white;
}
form.search{
    display: flex;
}
input[type='submit'].sear{
    margin: 0px 5px;
}
main h2{
    margin: 10px auto 0 auto;
    color: var(--blc);
    width: fit-content;
}
.wrap{
    margin-top: 60px;
}
.cota{
    margin: 0 auto;
    padding-bottom: 50px;
    width: 100%;
    height: 360px;
    overflow-y: auto;
    background-color: var(--snw);
    border-radius: 20px;
    border-bottom-left-radius: 72px;
    border-bottom-right-radius: 72px;
}
.cota::-webkit-scrollbar{
    display: none;
}
.cus th{
    color: white;
    background-color: var(--blc);
    border: 2px solid white;
    padding: 15px;
    font-size: 18px;
}
table{
    width: 100%;
}
.cus thead tr th:first-child{
    border-top-left-radius: 20px;
}
.cus thead tr th:last-child{
    width: 197px;
    border-top-right-radius: 20px;
}
.cus tbody tr td{
    word-wrap: break-word;
    background-color: white;
    border: var(--blc) 2px solid;
    padding: 10px;
    max-width: 250px; 
    font-size: 20px;
    text-align: center;
}
.wraper{
    display: flex;
}
.btns{
    display: flex;
    color: var(--blc);
    background-color: var(--upd);
    padding: 10px 8.8px;
    justify-content: center;
    border-radius: 10px;
    margin-left: 5px;
    font-weight: bolder;
}
.d{
    background-color: var(--del);
}
.u:hover{
    color: var(--upd);
    background-color: var(--blc);
}
.d:hover{
    color: var(--del);
    background-color: var(--blc);
}

/* FORM */
.w{
    background-color: white;
    padding: 25px;
    margin-top: 20px;
    height: fit-content;
}
.for{
    font-size: 20px;
    width: 95%;
}
.for input[type=text]{
    outline-color: var(--icn);
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    border: var(--blc) 2px solid;
}

/* SELECTION CSS */
select {
    background-color: transparent;
    border: none;
    width: 100%;
    border: 2px solid var(--blc);
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
}
/* SELECTION CSS END */
.for tr td:first-child{
    width: 45%;
}
.for tr td:nth-child(2){
    width: 5%;
}
.for tr td{
    padding: 1.5vh 0;
}
.for tr td.p{
    margin: 0 auto;
}
input[type=submit]{
    background-color: var(--blc);
    padding: 1.5vh 7vh;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    margin: 0 35%;
}
.flex{
    display: flex;
    justify-content: center;
}
table tr.warn td{
    background-color: var(--gry);
    font-weight: bold;
}